@import url('https://fonts.googleapis.com/css?family=Inder&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inder', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #555;
}

.blue {
  color: #477ACC;
}

.yellow {
  color: #EAC435;
}

.green {
  color: #09a55e;
}

.red {
  color: #CA1551;
}

.orange {
  color: #FB4D3D;
}
